#card-mini
  cursor: pointer

  background: linear-gradient(145deg, rgba(31,31,31,1) 0%, rgba(9,9,9,1) 58%)
  padding: 20px
  border-radius: 20px

  width: 150px
  height: 150px

.min-description
  color: #636363
  text-transform: uppercase
  font-size: 9px
  font-weight: 500
  letter-spacing: .1px
  margin: 0
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
.title
  font-weight: 500
  font-size: 17px
  margin: 1px 0

  
#home_section
  margin: 0 20rem

  .row_top
    display: flex
    align-items: center

    .card_me
      display: flex
      align-items: center
      cursor: pointer

      background: linear-gradient(145deg, rgba(31,31,31,1) 0%, rgba(9,9,9,1) 58%)
      padding: 20px
      border-radius: 20px

      .left_card_me
        .img_me
          width: 150px
          border-top-left-radius: 20px
          border-bottom-right-radius: 20px

      .right_card_me
        margin-left: 20px
        color: #fff

        .min-description
          color: #636363
          text-transform: uppercase
          font-size: 12px
          margin: 0
        .my-name-is
          font-weight: 500
          font-size: 22px
          margin: 1px 0 10px
        .description
          margin: 0
          margin-top: 10px
          font-weight: 400
          color: #636363
          max-width: 200px
          text-wrap: balance
          font-size: 12px
          letter-spacing: .3px

    .flex__mobile
      display: flex
      align-items: center
      justify-content: space-between

    .card_more_about
      margin-left: 15px

      .left_card_about
        .img_me
          width: 90px
          display: flex
          margin: 0 auto
          border-top-left-radius: 20px
          border-bottom-right-radius: 20px

      .right_card_about
        color: #fff
        margin-top: 30px

    .card_works
      margin-left: 15px

      .left_card_works
        .laptop
          color: #fff

      .right_card_works
        color: #fff
        margin-top: 30px

  .row_bottom
    margin-top: 15px
    display: flex

    .card_my-active-language
      cursor: pointer
      display: flex
      align-items: center

      background: linear-gradient(145deg, rgba(31,31,31,1) 0%, rgba(9,9,9,1) 58%)
      padding: 25px 35px
      border-radius: 20px
      
      .top-card-language
        margin-right: 30px
      
      .card_language_react
        margin-bottom: 20px
        text-align: center
        color: #fff
        width: 145px
        height: 140px

        display: flex
        align-items: center
        justify-content: center
        border-radius: 16px

        .con
          background: linear-gradient(145deg, rgba(31,31,31,1) 0%, rgba(9,9,9,1) 58%)
          border-radius: 15px
          width: 98%
          height: 98%
          p
            margin: 0
          p:nth-child(1)
            font-weight: 500
            font-size: 19px
            padding: 35px 0 5px 0
          p:nth-child(2)
            color: #7d7d7d
            font-weight: 400
            letter-spacing: .2px
            font-size: 12px
            max-width: 131px
            text-wrap: balance
            display: flex
            margin: 0 auto
            
    .card_my-contact
      padding: 20px
      margin-right: 15px
      background: linear-gradient(145deg, rgba(31,31,31,1) 0%, rgba(9,9,9,1) 58%)
      border-radius: 16px
      width: 372px

      .icon_top
        margin: 30px 0 30px
        display: flex
        justify-content: center
        align-items: center
      
      .icon_soc
        margin-right: 30px

      .bottom_desc
        p:nth-child(1)
          color: #636363
          text-transform: uppercase
          font-size: 9px
          font-weight: 500
          letter-spacing: .1px
        p:nth-child(2)
          color: #ffffff
          font-weight: 500
          font-size: 17px
          margin: 1px 0

    .section-bottom-left-cards
      display: flex
      align-items: center
      margin-top: 15px

      .card-1-left-my-plans
        .left_card_plans
          color: #fff
          font-weight: 500

          span
            color: rgb(127, 119, 0)
            

        .right_card_plans
          color: #fff
          margin-top: 30px

      .card-1-left-my-blog
        margin-left: 30px
        .left_card_plans
          .laptop
            color: #fff

        .right_card_plans
          color: #fff
          margin-top: 30px
      

// Animate 
@import '../_animation'
// Adaptive
@import '../_adaptive'