#Navigator
  margin: 15px 20rem

  display: flex
  align-items: center
  justify-content: space-between

  .left-nav
    color: #fff
    font-weight: 600
    font-size: 17px
    letter-spacing: .3px
  .center-nav
    font-size: 13px

    .links
      text-decoration: none
      letter-spacing: .3px
      color: #4f4f4f
      padding: 0 15px
    .links:hover
      color: #fff
      transition: .2s

  .right-nav

    background: #2f2f2f
    padding: 3px 12px 5px 12px
    border-radius: 12px

    .txt-btn
      color: #fff
      font-weight: 500
      text-decoration: none
      font-size: 13px
