@media only screen and (max-width: 1180px)
  #Navigator
    margin: 10px 15rem
  #Navigator .center-nav 
    font-size: 10px
  #Navigator .right-nav .txt-btn 
    font-size: 11px
  #Navigator .left-nav 
    font-size: 15px

  #home_section
    margin: 0 15rem
  #home_section .row_top .card_me .right_card_me .my-name-is
    font-size: 17px
  #home_section .row_top .card_me .right_card_me .description
    font-size: 9px
  #home_section .row_top .card_me .right_card_me .min-description
    font-size: 10px
  #home_section .row_bottom .card_my-active-language .card_language_react
    width: 108px
    height: 130px
  #home_section .row_bottom .card_my-active-language .card_language_react .con p:nth-child(1)
    font-size: 16px
  #home_section .row_bottom .card_my-active-language .card_language_react .con p:nth-child(2)
    font-size: 10px

@media only screen and (max-width: 450px)
  #Navigator
    margin: 10px 1rem
  #Navigator .menu-right
    display: block
  #Navigator .center-nav, #Navigator .right-nav
    display: none
  #home_section .row_top
    flex-direction: column
  #home_section .row_bottom
    flex-direction: column
  #home_section 
    margin: 0 1rem
  #home_section .row_top .card_me .left_card_me .img_me
    width: 130px
  #home_section .row_top .card_me .right_card_me .my-name-is
    font-size: 20px
  #home_section .row_top .card_me .right_card_me .description
    font-size: 10px
  #home_section .row_top .card_me .right_card_me .min-description
    font-size: 11px
  #card-mini
    width: 90%
    height: 140px
    margin-bottom: 15px
    border: .9px solid #363636
  #home_section .row_bottom .card_my-contact
    width: auto
  #home_section .row_bottom .section-bottom-left-cards .card-1-left-my-blog 
    margin-left: 15px
  #home_section .row_bottom .section-bottom-left-cards .card-1-left-my-blog .left_card_plans .laptop
    width: 50px
  #home_section .row_bottom .card_my-active-language .card_language_react 
    width: 129px
    height: 130px
  #home_section .row_bottom .card_my-active-language .card_language_react .con p:nth-child(2)
    display: block
  #home_section .row_top .card_me
    background: linear-gradient(145deg, rgb(50 50 50) 0%, rgb(18 18 18) 58%)
    border: .9px solid #363636
    margin-bottom: 15px 
  #card-mini
    background: linear-gradient(145deg, rgb(50 50 50) 0%, rgb(18 18 18) 58%)
  #home_section .row_bottom .card_my-contact
    background: linear-gradient(145deg, rgb(50 50 50) 0%, rgb(18 18 18) 58%)
    border: .9px solid #363636
  #home_section .row_top .card_works, #home_section .row_top .card_more_about
    margin-right: 10px
    width: 120px
  #home_section .row_bottom .card_my-contact
    margin-right: 0
    margin-left: 0


  // ABOUT
  #about #index__about
    margin: 5rem 1rem
  #about #index__about .elements__index__about .left-line
    margin: 0 1rem 0 0
  #about #index__about .elements__index__about .right-content .for__line__one p:nth-child(1)
    font-size: 25px
    max-width: 20rem
  #about #index__about .elements__index__about .right-content .for__line__one p:nth-child(2)
    font-size: 12px
    letter-spacing: .3px
    max-width: 92%
  #about #index__about .elements__index__about .for__line__two p:nth-child(1)
    font-size: 15px
  #about #index__about .elements__index__about .for__line__two p:nth-child(2)
    font-size: 18px
  #about #index__about .elements__index__about .for__line__two p:nth-child(3)
    font-size: 12px
  #about #index__about .elements__index__about .for__line__three p:nth-child(1)
    font-size: 15px
  #about #index__about .elements__index__about .for__line__three p:nth-child(2)
    font-size: 18px
  #about #index__about .elements__index__about .for__line__three p:nth-child(3)
    font-size: 12px
  #about #index__about .elements__index__about .right-content .block__1, #about #index__about .elements__index__about .right-content .block__2, #about #index__about .elements__index__about .right-content .block__3
    margin: 0 0 13rem
  #about #index__about .elements__index__about .left-line .line__one__index
    height: 26rem
  #about #index__about .elements__index__about .left-line .line__two__index
    height: 26rem
  #about #index__about .elements__index__about .right__bottom
    bottom: 30%
  #about #bg
    left: 45%
    background-position: left
    opacity: 0.2

  // WORKS
  #works .slider-all section 
    margin: 0 1rem 10rem
  #works .slider-all section .content h1
    font-size: 22px
  #works .slider-all section .content p:nth-child(2)
    max-width: 95%
    font-size: 12px
  #works .slider-all section .content .links__web p > a
    font-size: 14px
  #works .slider-all section .inner img 
    width: 325px
    right: 10px
  #works .slider-all section 
    width: auto
  #works .slider-all section .content
    position: relative
    top: 10%
  #works .slider-all section .inner
    position: relative
    top: 40%
  #works .slider-all section .inner .btn-slider
    top: 128px
    left: -223px
  #works .slider-all section .number
    font-size: 20rem
    top: 60%
    left: auto
    right: -33%
  #works .slider-all section .inner .mobile__fte
    width: 205px
    top: 2em
    right: 5rem